body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--main-text-color);
	--main-text-color: #424242;
	--secondary-text-color: #41522E;
	--accent-color: #BE8022;
}

/*Common*/

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.input {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #C9CACC;
	border-radius: 4px;
	padding: 15px;
	color: var(--main-text-color);
}

.submit-button {
	color: white;
	height: 50px;
	border-radius: 4px;
	border: none;
	background: linear-gradient(104.34deg, var(--secondary-text-color) -15.34%, var(--accent-color) 145.95%);
	font-weight: 500;
	font-size: 16px;
}

/*Auth page*/

.auth__image {
	height: 100vh;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/background.jpg);
	filter: blur(5px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10%;
}

.auth__container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	border-radius: 16px;
	width: 25%;
	min-width: 400px;
}

.auth__form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.auth__form h1 {
	margin: 32px 32px 16px 32px;
}

.auth__header {
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

.auth__inputs-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;
	margin: 16px 32px;
}

.auth__label {
	font-weight: 300;
}

.auth__input {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #C9CACC;
	border-radius: 4px;
	font-weight: 300;
	font-size: 16px;
}

.auth__submit {
	margin: 16px 32px 32px 32px;
}

.invalid-label {
	color: #EB1717;
}

.invalid-input {
	color: #EB1717;
}

.auth__input-error {
	float: left;
	color: #EB1717;
	margin: 0;
	margin-top: -7px;
	margin-bottom: -14px;
	font-weight: 300;
	font-size: 12px;
}

/*Checker page*/

.checker {
	background-color: #E5E5E5;
	height: 100vh;
}

.checker__navbar {
	display: flex;
	justify-content: space-between;
}

.checker__navbar>* {
	margin: 32px;
	height: 28px;
}

.checker__navbar-header {
	font-size: 24px;
	font-weight: 500;
}

.checker__navbar-logout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.checker__main {
	display: flex;
	justify-content: center;
	height: 80vh;
}

.checker__content-wrapper {
	display: flex;
	justify-content: center;
	gap: 24px;
	width: 50vw;
}

@media screen and (max-width: 1400px) {
	.checker__content-wrapper {
		width: 70vw;
	}
}

@media screen and (max-width: 1200px) {
	.checker__content-wrapper {
		width: 80vw;
	}
}

@media screen and (max-width: 1000px) {
	.checker__content-wrapper {
		width: 90vw;
	}
}

.checker__content {
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex-shrink: 0;
	flex-grow: 0;
}

.checker__content:first-of-type {
	width: 35%;
}

.checker__content:last-of-type {
	width: 65%;
}

.query-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.query-form__inputs-container {
	margin: 32px 32px 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.query-form__input {
	width: 100%;
}

.query-form__submit {
	margin: 16px 32px 32px;
}

.query-form__label {
	font-weight: 500;
}

.content-item {
	background-color: white;
	border-radius: 16px;
	height: 100%;
}

.checker__favorites {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.favorites__header {
	margin: 32px 32px 16px;
	font-size: 24px;
	font-weight: 500;
}

.favorites__filters {
	display: flex;
	margin: 0 32px;
	gap: 8px;
}

.favorites__filters>* {
	display: flex;
	align-items: center;
	border: 1px solid var(--secondary-text-color);
	border-radius: 4px;
	color: var(--secondary-text-color);
}

.favorites__filters-type {
	font-size: 14px;
	margin: 4px 4px 4px 8px;
}

.filter-disabled {
	opacity: 0.3;
	border-color: #e5e5e5;
}

.favorites__toggles {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin: 4px 8px 4px;
}

.toggle__asc {
	width: 0;
	height: 0;
	border-style: solid;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-bottom: 10px solid var(--secondary-text-color);
	border-top: 0;
}

.toggle__desc {
	width: 0;
	height: 0;
	border-style: solid;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-top: 10px solid var(--secondary-text-color);
	border-bottom: 0;
}

.clickable:hover {
	cursor: pointer;
}

.favorites__toggle-buttons {
	margin: 4px 8px 4px 4px;
}

.favorites__toggle-button {
	padding: 0 !important;
	border: none !important;
	margin: -7px 0 !important;
}

.favorites__rating,
.hotels__rating {
	margin-left: -2px;
}

.favorites__list {
	margin: 16px 32px 32px;
	height: 100%;
}

.favorites__item {
	display: flex;
	flex-direction: column;
}

.favorites__item>*,
.hotels__item-content>* {
	display: flex;
	align-items: center;
}

.favorites__item-header,
.hotels__item-header {
	justify-content: space-between;
}

.favorites__title,
.hotels__title {
	margin: 0;
	font-weight: 300;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
}

.favorites__item-main,
.hotels__item-main {
	gap: 15px;
	font-weight: 400;
	font-size: 14px;
}

.favorites__item-main p,
.hotels__item-main p {
	margin: 4px 0 7px;
}

.favorites__item-footer,
.hotels__item-footer {
	justify-content: space-between;
}

.favorites__price,
.hotels__price {
	display: flex;
	align-items: baseline;
	gap: 8px;
}

.favorites__price-text,
.hotels__price-text {
	font-weight: 300;
	font-size: 11px;
}

.favorites__price-value,
.hotels__price-value {
	font-weight: 400;
	font-size: 17px;
}

.divider {
	border: 1px solid rgba(135, 135, 135, 0.2);
	margin: 16px 0;
}

.checker__hotels {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.checker__hotels>* {
	width: calc(100% - 64px);
}

.checker__hotels-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 48px 32px 14px;
}

.checker__hotels-breadcrumbs {
	display: flex;
	gap: 20px;
	align-items: center;
}

.checker__hotels-breadcrumbs div {
	font-weight: 500;
	font-size: 32px;
}

.checker__hotels-date {
	font-weight: 400;
	font-size: 24px;
}

.checker__photo-slider {
	margin: 14px 32px;
	height: 150px;
	flex-shrink: 0;
}

.carousel__item {
	height: 150px;
	width: 165px;
	border-radius: 10px;
}

.checker__hotels-list {
	margin: 14px 32px 48px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.checker__no-hotels {
	justify-content: center;
	overflow: hidden;
	height: 100%;
	align-items: center;
}

.favorites__list,
.hotels__list {
	overflow: auto;
	padding-right: 14px;
	overflow-x: hidden;
}

.favorites__list::-webkit-scrollbar,
.hotels__list::-webkit-scrollbar {
	width: 2px;
}

.favorites__list::-webkit-scrollbar-thumb,
.hotels__list::-webkit-scrollbar-thumb {
	background-color: var(--secondary-text-color);
	border-radius: 2px;
}

.hotels__item {
	display: flex;
	gap: 24px;
	align-items: stretch;
}

.hotels__item-content {
	width: 100%;
	overflow: hidden;
}

.hotels__item-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 84px;
	background-color: rgba(65, 82, 46, 0.05);
	border-radius: 50%;
	flex-shrink: 0;
}

.hotels__item-icon>* {
	position: relative;
	top: -1px;
	right: -1px;
}